@font-face {
   font-family: "Godfather";
   src: url("/Fonts/TheGodfather-rgRK.ttf");
}
.body-bg-custom 
{
   
   background-image: linear-gradient(gainsboro,  #848884,  #848884);
}
.roundcorners
{
   border-radius: 25px;
   width: 500px;
   height: 500px;
}
.padded
{
   padding-left: 5px;
}
 .carousel-item img
 {
   height: max-content;
   border-radius: 15px;

}
.outlining
{
   outline-style: solid;
   outline-color: rgb(200, 200, 200);
   outline-width: 2px;
   border-radius: 7.5px;
   margin: 20px;
}
.portred
{
   height: 750px;
   width: auto;
   border-radius: 7.5px;
   margin: 20px;
   box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}
.aboutme_text
{
   margin-top: 60px;
}
.resume_bt
{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
   margin-bottom: 60px;
}
.linkedin_bt
{
   margin-top: 20px;
   margin-bottom: 60px;
}
 .divider
 {
   height: 2px;
   background-color: #6b6d6b;
 }
.footer
{
   
   margin-left: 60px;
   margin-top: 35px;
   padding-bottom: 30px;
   background-color: #848884;
}
a 
{
   color: rgb(40, 40, 40);
   text-decoration: none;
}

a:hover
{ 
   color: rgb(81, 81, 81);
   text-decoration:none; 
   cursor:pointer;  
}
.article
{
margin-right: 80px;
}
.logo
{
   
   border-radius: 25px;
   max-width: 100%;
   height: max-content;
   width: auto;
   margin: 30px ;
}
.gameinfo
{
   margin: 35px;
   outline: 2px;
   outline-style: solid;
   outline-color: #6b6d6b;
   outline-width: 2px;
   border-radius: 10px;
   
}
.BigCheese
{
   font-family: Godfather ;
}
.articel-Padd
{
   margin-top: 20px;
}
.padding-30
{
   padding: 30px;
}
.reveal{
   position: relative;
   transform: translateY(150px);
   opacity: 0;
   transition: 1s all ease;
 }
 
 .reveal.active{
   transform: translateY(0);
   opacity: 1;
 }
