body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: "Source Code Pro", monospace;
}

#starry-sky {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden; /* Prevents scrolling if stars go out of bounds */
    position: relative; /* Needed for absolute positioning of stars */
    z-index: -10;
}

.content-wrapper {
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
.center{
    display: flex;
    justify-content: center;
}

.centerList{
    display: flex;
    align-items: center;
}
.resume-section, .form-section, .references-section {
    flex: 1;
    margin-right: 20px;
}

.resume-section {
    padding-right: 20px;
}

.resume-section h2, .form-section h1, .references-section h2 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    margin-bottom: 10px;
}

.resume-widget {
    margin-bottom: 20px;
}

.resume-widget iframe {
    border: none;
    width: 100%;
    height: 500px;
}

.resume-link {
    display: block;
    margin-top: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.resume-link:hover {
    color: mediumpurple;
}

form {
    width: 100%;
    max-width: 420px;
    margin: 0;
}

.feedback-input {
    color: white;
    font-family: source-code-pro, 'Courier New', monospace;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid mediumpurple;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: rebeccapurple;
}

.references-section ul {
    list-style-type: none;
    padding: 0;
    color: white;
    font-size: 18px;
}

.references-section li {
    margin-bottom: 10px;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links h2 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 15px;
}

.social-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: mediumpurple;
}

.social-links i {
    margin-right: 8px;
}

/* Ensuring the header content is flex and spaced between elements */
.header-content {
    display: flex;
    justify-content: space-between; /* Space between the main elements */
    align-items: center; /* Align items vertically */
    width: 99%;
    padding: 0px 10px;
}

/* Title alignment */
.site-title {
    text-align: left;
    /* Allows the title to take up necessary space pushing nav to the right */
}

.header-tooltip{
    flex: 1;
    text-align: right;
    transition: opacity 0.3s ease;
}

/* Navigation centering */
.site-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Image list item styling */
.site-nav li {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

/* Ensures images are vertically aligned and responsive */
.header-img {
    height: 50px; /* Adjust height as needed */
    width: auto;
}
.site-nav {
    flex: 2; /* Allocates twice the space compared to title and tooltip, centering the nav */
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav ul li a {
    color: #fff; /* Navigation links color */
    text-decoration: none; /* Removes underline */
    font-size: 18px; /* Font size for navigation links */
}

.site-nav ul li a:hover {
    text-decoration: underline; /* Underline on hover for visual feedback */
}
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensures the header spans the full width */
    z-index: 1000; /* High z-index to ensure it stays on top */
    background-color: #333; /* Example background color */
}

.header-img:hover::after {
    content: attr(title); /* Display title content as tooltip */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.header-img:hover::after {
    opacity: 1;
    visibility: visible;
}
.site-header .header-img {
    position: relative; /* Context for absolute positioning */
    display: inline-block; /* To ensure proper alignment */
    cursor: pointer;
}

.site-header .header-img::after {
    content: attr(title);
    position: absolute;
    left: 50%; /* Center the tooltip */
    transform: translateX(-50%); /* Ensure it's centered irrespective of the width */
    bottom: -30px; /* Adjust this value based on your specific layout */
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    z-index: 1000; /* Ensures the tooltip is above other elements */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.site-header .header-img:hover::after {
    opacity: 1;
    visibility: visible;
}
