.portfolio-categories {
    text-align: center;
    margin-bottom: 0.5rem; /* Space before the border */
    padding: 1rem;
    position: sticky; /* Sticky to stay under the header */
    top: 0;
    z-index: 1000;
}


.container {
    margin-top : 100px;
    display: block;
    width: 100%; /* Ensure it uses full width */
    position: relative; /* Adding position relative for contextual stacking */
    overflow-y: auto;
}

.page{
    min-height: 100vh;
}
.portfolio-categories-border {
    justify-content: center;
    width: 90vw;
    border-top: mediumpurple 2px dotted;
    padding: 0.2rem; /* Optional padding */
}
#project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    gap: 2rem; /* Space between cards */
    margin: 2rem 0; /* Vertical space before and after container */
}
.portfolio-categories button {
    background: rgba(51, 51, 51, 0.5);
    border: mediumpurple 3px solid;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.border-line{
    width: 90vw;
    border-top: mediumpurple 2px dotted;
}

.portfolio-categories button:hover {
    background: mediumpurple;
    color: black;
    border: 2px solid rebeccapurple;
}


.badges-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three columns */
    gap: 10px; /* Spacing between badges */
    margin-left: 150px; /* Left margin to avoid overlap with the engine badge */

}

.badge {
    padding: 0.25em 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: goldenrod; /* Example color */
    border-radius: 0.5rem;
    text-align: center; /* Ensures text is centered within each badge */
}




.download-pdf {
    background-color: #4CAF50; /* Green background for visibility */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.download-pdf:hover {
    background-color: #45a049; /* Darker green on hover */
}

.project-card h3 {
    margin-bottom: 0.5rem; /* To ensure spacing between title and badges */
}
.project-card {
    position: relative; /* This is necessary for absolute positioning of children */
    background: rgba(255, 255, 255, 0.1);
    border: mediumpurple 3px solid;
    padding: 1rem;
    margin: 1rem; /* Adjust margins for space between cards */
    width: calc(33.33% - 2rem); /* Adjust the width for three cards per row, accounting for margin */
    text-align: center;
    border-radius: 0.5rem;
}

.engine-badge {
    position: absolute; /* Position absolute relative to the nearest positioned ancestor (here, the project-card) */
    top: 10px; /* Adjust top and left as necessary to align the badge as you want */
    left: 10px;
    width: auto;
    height: 30px; /* You might adjust the size */
    padding: 5px;
    border-radius: 15px; /* Rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Updated CSS for .portfolio-projects to ensure max 3 per row */
.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* This controls spacing between cards */
    padding: 1rem;
    margin: 0 auto; /* Centering the projects container */
    max-width: 1920px; /* Maximum width can be adjusted */
}

@media (max-width: 1200px) {
    .project-card {
        width: calc(50% - 2rem); /* two cards per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .project-card {
        width: calc(100% - 2rem); /* one card per row on small screens */
    }
}
.project-card img {
    max-width: 128px;
    height: auto;
    border-radius: 5px;
}

.project-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project-links a {
    color: #fff;
    font-size: xx-large;
    text-decoration: none;
}

.project-links a:hover {
    color: #ccc;
}

.show-more {
    background: mediumpurple;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: .5rem  .5rem ;
    border-radius: 0.3rem;

}

.show-more:hover {
    background: #444;
}

.slideshow-modal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.slideshow-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.slideshow-close {
    position: absolute;
    top: 10px;
    right: 40px;
    color: red;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
}

.slideshow-close:hover,
.slideshow-close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.slideshow-prev, .slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-prev:hover, .slideshow-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide {
    display: none;
}

.slide img {
    padding-top: 20vh;
    width: 100%;
}
