.portfolio-categories {
    text-align: center;
    margin-top: 5rem; /* Adjust this value to increase space below the header */
    margin-bottom: 0.5rem; /* Space before the border */
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7); /* Optional styling */
    position: sticky; /* Sticky to stay under the header */
    top: 0;
    z-index: 1000;
}

.portfolio-categories-border {
    width: 80vw;
    border-top: mediumpurple 2px dotted;
    margin: 0.5rem auto; /* Centering and adding vertical margin */
    padding: 0.2rem; /* Optional padding */
}

.portfolio-categories button {
    background: rgba(51, 51, 51, 0.5);
    border: mediumpurple 3px solid;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.portfolio-categories button:hover {
    background: mediumpurple;
    color: black;
    border: 2px solid rebeccapurple;
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: goldenrod; /* Bootstrap primary blue */
    border-radius: 0.5rem;
    margin: 0.25em;

}
.footer {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Ensures the footer stays at the bottom of the viewport */
    bottom: 0;
    left: 0; /* Ensures it spans from the left to the right edge */
}


.container {
    width: 100%; /* Ensure it uses full width */
    margin: auto; /* Center the container */
    display: block; /* Override any flex or grid properties */
    height: auto;
}

.project-card h3 {
    margin-bottom: 0.5rem; /* To ensure spacing between title and badges */
}
.project-card {
    background: rgba(255, 255, 255, 0.1);
    border: mediumpurple 3px solid;
    padding: 1rem;
    width: 600px;
    text-align: center;
    border-radius: 0.5rem;
    z-index: 10;
    position: relative;
}
.project-card img {
    max-width: 128px;
    height: auto;
}

.project-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project-links a {
    color: #fff;
    text-decoration: none;
}

.project-links a:hover {
    color: #ccc;
}

.show-more {
    background: #333;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: .5rem  .5rem ;
    border-radius: 0.3rem;

}

.show-more:hover {
    background: #444;
}

.slideshow-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.slideshow-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.slideshow-close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: red;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
}

.slideshow-close:hover,
.slideshow-close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.slideshow-prev, .slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-prev:hover, .slideshow-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide {
    display: none;
}

.slide img {
    padding-top: 20vh;
    width: 100%;
}