.media-row {
    display: flex;
    margin: 20px 5%;
    border-bottom: 2px dotted mediumpurple; /* Dotted line between entries */
}

.media {
    flex: 1;
    padding: 10px;
}

.description {
    flex: 2;
    padding: 10px;
    text-align: left; /* Description text aligned to the left */
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-family: "Source Code Pro", monospace;
}
#starry-sky{
    position: sticky;
}


.container {
    width: 100%; /* Full width to ensure it can center correctly */
    display: flex; /* Using Flexbox for easier centering */
    justify-content: center; /* Center children horizontally */
}

.text-left-align {
    text-align: left; /* Align text to the left */
    max-width: 800px; /* Maximum width of the text block */
}

.skills-container {
    padding-top: 150px; /* Adjust padding as needed */
    width: 100%; /* Ensures container is full width */
    display: flex; /* Flex to use justify content */
    justify-content: center; /* Center the inner content */
}
#skill-details {
    width: 100%;
    margin-top: 50px;
}

.border-line, .small-border-line {
    width: 90vw;
    border-top: mediumpurple 2px dotted;
    margin: 0.5rem auto;
}

.small-border-line {
    border-top: mediumpurple 1px dotted;
}

.progress-bar {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    height: 20px;
    background-color: mediumpurple;
    border-radius: 5px;
}

.skill-detail {
    margin-bottom: 20px;
}

.media-item {
    margin-top: 10px;
}

.media-item img, .media-item video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.skill-index {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-index li {
    margin: 10px;
}

.skill-index a {
    text-decoration: none;
    color: white;
    background-color: mediumpurple;
    padding: 10px;
    border-radius: 5px;
}

.skill-index a:hover {
    background-color: rebeccapurple;
}
.skill-section {
    margin-bottom: 40px;
    width: 80%;
}



.skill-button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skill-button img {
    width: 100px;
    height: auto;
}

.skill-button:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.skill-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.centered-title {
    width: 100%;
    margin-bottom: 20px; /* Space between title and pie chart */
    font-size: 24px; /* Adjust font size as necessary */
    color: white; /* Adjust text color as necessary */
}
.media-item {
    margin-top: 10px;
}

.media-item img, .media-item video {
    max-width: 800px;
    border: mediumpurple 3px dotted;
    padding: 5px;
    height: auto;
    border-radius: 5px;
}


@media (max-width: 768px) { /* For smaller screens, stack them vertically */
    .media-row, .media-row.reverse {
        flex-direction: column;
    }

    .media-row .media, .media-row .description {
        flex: 1 1 50%; /* Each takes half width */
    }
}
