body, html {
  height: auto;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}
#starry-sky {
  width: 100%;
  height: 100%;
  background-color: black;
  position: sticky; /* Needed for absolute positioning of stars */
  z-index: -10;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: relative; /* Changed from fixed */
}

.solar-system {
  position: relative;
  width: calc(330px * 1.5); /* Increased from 300px */
  height: calc(330px * 1.5); /* Increased from 300px */
}

.sun {
  position: absolute;
  width: calc(55px * 1.1); /* Adjust based on your preference */
  height: calc(55px * 1.1);
  border-radius: 50%;
  background-image: url('/img/solar/sun.png');
  background-size: cover;
  background-position: center; /* Ensures the image is centered */
  z-index: 5;
  top: 50%; /* Center the div vertically */
  left: 50%; /* Center the div horizontally */
  transform: translate(-50%, -50%); /* Adjust positioning to truly center */
  cursor: pointer;
}
.li-img {
  background-image: url('/img/solar/sun.png');
  background-size: cover;
  width: 20px; /* Set your desired width */
  height: 20px; /* Set your desired height */
  display: inline-block;
}

.orbit {
  position: absolute;
  border: 1px dashed white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
}

/* Defining orbit sizes with custom properties (all increased by 10%) */
.orbit:nth-child(2) {
  --orbit-size: 110px; /* Increased from 100px */
  --orbit-radius: 55px; /* Increased from 50px */
}
.orbit:nth-child(3) {
  --orbit-size: 180px; /* Increased from 150px */
  --orbit-radius: 90px; /* Increased from 75px */
}
.orbit:nth-child(4) {
  --orbit-size: 270px; /* Increased from 200px */
  --orbit-radius: 135px; /* Increased from 100px */
}
.orbit:nth-child(5) {
  --orbit-size: 390px; /* Increased from 250px */
  --orbit-radius: 195px; /* Increased from 125px */
}

.planet {
  /* Common styles for planets */
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.planet1 {
  z-index: 4;
  background-image: url('/img/solar/planet 1.png');
  width: calc(15px * 1.5); height: calc(15px * 1.5); /* Adjust as needed */
}

.planet2 {
  z-index: 3;
  background-image: url('/img/solar/planet 2.png');
  width: calc(20px * 1.5); height: calc(20px * 1.5); /* Adjust as needed */
}

.planet3 {
  z-index: 2;
  background-image: url('/img/solar/planet 3.png');
  width: calc(25px * 1.5); height: calc(25px * 1.5); /* Adjust as needed */
}

.planet4 {
  z-index: 1;
  background-image: url('/img/solar/planet 4.png');
  width: calc(30px * 1.5); height: calc(30px * 1.5); /* Adjust as needed */
}

@keyframes orbit-around-sun {
  0% {
    transform: rotate(0deg) translateX(var(--orbit-radius));
  }
  100% {
    transform: rotate(360deg) translateX(var(--orbit-radius));
  }
}

.orbit .planet {
  animation: orbit-around-sun linear infinite;
}

/* Adjusting margins based on new orbit sizes */
.orbit:nth-child(2) { width: var(--orbit-size); height: var(--orbit-size); margin: calc(var(--orbit-radius) * -1) 0 0 calc(var(--orbit-radius) * -1); }
.orbit:nth-child(3) { width: var(--orbit-size); height: var(--orbit-size); margin: calc(var(--orbit-radius) * -1) 0 0 calc(var(--orbit-radius) * -1); }
.orbit:nth-child(4) { width: var(--orbit-size); height: var(--orbit-size); margin: calc(var(--orbit-radius) * -1) 0 0 calc(var(--orbit-radius) * -1); }
.orbit:nth-child(5) { width: var(--orbit-size); height: var(--orbit-size); margin: calc(var(--orbit-radius) * -1) 0 0 calc(var(--orbit-radius) * -1); }

/* Customizing orbit duration for each planet */
.orbit:nth-child(2) .planet { animation-duration: 10s; }
.orbit:nth-child(3) .planet { animation-duration: 12s; }
.orbit:nth-child(4) .planet { animation-duration: 15s; }
.orbit:nth-child(5) .planet { animation-duration: 17s; }

.tooltip-area {
  text-align: center;
  color: white; /* Text color */
  padding: 10px; /* Padding for the tooltip content */
  background-color: rgba(0, 0, 0, 0.5); /* Optional background for visibility */
  border-radius: 5px; /* Optional rounded corners */
  min-height: 20px;
  font-family: "Source Code Pro", monospace;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.center{
  text-align: center;
}
.planet-link {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Prevents color changes */
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}
.header-content {
  display: flex;
  justify-content: space-between; /* Space between the main elements */
  align-items: center; /* Align items vertically */
  width: 99%;
  padding: 0px 10px;
}

.site-title {
  text-align: left;
}

.header-tooltip{
  flex: 1;
  text-align: right;
  transition: opacity 0.3s ease;
}

.site-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav li {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header-img {
  height: 50px; /* Adjust height as needed */
  width: auto;
}
.site-nav {
  flex: 2; /* Allocates twice the space compared to title and tooltip, centering the nav */
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav ul li a {
  color: #fff; /* Navigation links color */
  text-decoration: none; /* Removes underline */
  font-size: 18px; /* Font size for navigation links */
}

.site-nav ul li a:hover {
  text-decoration: underline; /* Underline on hover for visual feedback */
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ensures the header spans the full width */
  z-index: 1001; /* High z-index to ensure it stays on top */
  background-color: #333; /* Example background color */
}

.header-img:hover::after {
  content: attr(title); /* Display title content as tooltip */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  white-space: nowrap;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.header-img:hover::after {
  opacity: 1;
  visibility: visible;
}
.site-header .header-img {
  position: relative; /* Context for absolute positioning */
  display: inline-block; /* To ensure proper alignment */
  cursor: pointer;
}

.site-header .header-img::after {
  content: attr(title);
  position: absolute;
  left: 50%; /* Center the tooltip */
  transform: translateX(-50%); /* Ensure it's centered irrespective of the width */
  bottom: -30px; /* Adjust this value based on your specific layout */
  white-space: nowrap;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  z-index: 1000; /* Ensures the tooltip is above other elements */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.site-header .header-img:hover::after {
  opacity: 1;
  visibility: visible;
}
.twitter_api{
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  color: white;
}


.social-links {
  text-align: center;
  margin-top: 20px;
}

.social-links h2 {
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  margin-bottom: 10px;
}

.social-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 15px;
}

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: mediumpurple;
}

.social-links i {
  margin-right: 8px;
}
.home-page{
  padding-top: 80px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content p a{
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;
}
.modal-content p a:hover{
  text-decoration: none;
  color: mediumpurple;
  font-weight: bold;
}

/* Modal Content/Box */
.modal-content {
  background-color: yellow;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 15px;
  border: 5px dotted indianred;
  width: 80%; /* Could be more or less, depending on screen size */
  color: black;
  text-align: center;
}

/* The Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile Warning Page Styles */
.mobile-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Source Code Pro", monospace;
}

.mobile-warning h1 {
  font-size: 3em;
}

.mobile-warning p {
  font-size: 1.5em;
  max-width: 80%;
  margin: 0 auto;
}

/* Detect Portrait Mode on Mobile Devices */
@media (max-width: 768px) {
  .site-nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-img {
    height: 30px; /* Smaller header image for mobile */
  }
  .content-wrapper {
    padding: 15px;
  }
}


.legend {
  position: absolute;
  top: 40%; /* Adjust based on your header */
  left: 5vw; /* Safe distance from the edge */
  width: 355px; /* Fixed width */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: white;
  padding: 10px;
  z-index: 10; /* Make sure it's above other elements */
  border: 2px dotted mediumpurple;
  border-radius: 15px;
}

.legend h3 {
  margin-top: 0;
  text-align: center;
  color: #CC6666; /* Golden color for heading to match solar theme */
}

.legend img {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Maintain aspect ratio */
  vertical-align: middle; /* Align with the text */
  margin-right: 5px; /* Space between the image and text */
}

.legend ul {
  list-style-type: none; /* Removes bullets */
  padding: 0;
}

.legend li {
  font-size: 14px; /* Smaller font size for compact look */
  line-height: 1.5; /* Good line spacing for readability */
  margin-bottom: 4px; /* Space between items */
}

.language-switcher {
  position: fixed;   /* Fixed position relative to the viewport */
  top: 10px;         /* 10px from the top */
  right: 10px;       /* 10px from the right */
  z-index: 1000;     /* Make sure it appears above other content */
}

.language-switcher a {
  color: white;      /* Choose a color that fits your design */
  text-decoration: none; /* No underlines to keep it clean */
  padding: 5px;      /* Padding for better clickability */
  font-size: 16px;   /* Adjust size as needed */
}

.language-switcher a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}

.lang-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.lang-btn img {
  width: 50px;  /* Set the size of the flag images */
  height: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .lang-btn {
    border: none;
    background: none;
    cursor: pointer;
  }

  .lang-btn img {
    width: 25px;  /* Set the size of the flag images */
    height: auto;
    border-radius: 5px;
  }
}

